@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

/*body {
    color: rgb(23, 23, 36);
    background: rgba(179, 27, 103, 0.623);
    font-family: Montserrat, Arial;
    text-decoration: none;
    header c
   }

*/
a{
    text-decoration: none;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 250%;
   }

.text_foot {
    font-size: 100%;
    text-align: left;
}
.pic {
    display: block;
    border:  1px solid rgb(24, 14, 20);
    margin-left: auto;
    margin-right: auto;
    /*border: solid rgb(24, 14, 20);*/
}


header {
    background-color: rgb(34, 3, 18 );
    color: rgb(223, 253, 115);
    display:inline;
    font-size: 25px;
    height: 50px;
}

footer {
    text-decoration: none;
    color: rgb(77, 23, 54);
    background-color: rgb(112, 208, 221);
    height: 20px;
}

.shapka li {
    display: inline;
    text-decoration: none;
    color: rgb(223, 253, 115);
    background-color: rgb(27, 114, 74);
    margin: 1%;
}

.container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(192, 81, 137);
    font-family: Montserrat, Arial;
    text-decoration: none;
 }
 
 header :hover{
     color:rgb(58, 68, 22)

 }